<div class="row file">
	<div class="col-xs-12">
		<h4><a href="{{raw_url}}">{{name}}</a><strong>{{size}}</strong><em>{{language}}</em></h4>
		<pre><code>{{content}}</code></pre>
		{{{link}}}
	</div>
</div>